// @Author: qinzhenxing
// @Date:   2017-05-04T16:13:29+08:00
// @Description:
// @Last modified by:   qinzhenxing
// @Last modified time: 2018-01-19T14:52:19+08:00

/* 屏幕有效宽度(中心区域) */
$screen-width: 1000px;

/* 默认背景图片的路径 */
$imgUrl: '../../assets/images/index/';

/* 颜色 */
$high-color: #d8b362;              // 突出性字体颜色 - 白色底
$high-black-color: #ead4a3;        // 突出性字体颜色 - 黑色底
$boder-color: #eee;                // border的颜色-标题
$bottom-color: #d2d2d2;            // 页面border-bottom的颜色
$color-green: #2ec75b;             // 绿色
$color-red: #e06a5e;               // 红色
